{% extends 'base.html' %}

{% block content %}
   <html>
   <body>
      <form action="/upload" method="post" enctype="multipart/form-data">
         <label for="TCP">TCP/IP</label>
         <br>
         <input type="text" name="TCP"
                  placeholder="TCP/IP"
                  value="{{ request.form['TCP'] }}"></input>
         <br>

         <label for="Port">Port</label>
         <br>
         <textarea name="Port"
                     placeholder="default is 328"
                     >{{ request.form['Port'] }}</textarea>
         <br>
         <input type="file" name="uploadfile">
         <input type="submit" value="Upload">
      </form>
   </form>
   </body>
   </html>
{% endblock %}